body {
	font-family: Ubuntu,"Segoe UI",Roboto,-apple-system,BlinkMacSystemFont,sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.root-columns {
  display: flex;
}

nav {
  background: #eee;
  width: 100%;
  max-width: 200px;
  height: 100vh;
}

.main {
  width: auto;
  height: 100vh;
  flex-grow: 1;
}

.cards {
	display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
}

.card {
  width: calc(100% / 5 - 20px);
  border-radius: 5px;
  height: 90px;
  background: #eee;
  margin: 10px;
}

.card-name {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}

.team-name {
  text-transform: uppercase;
  font-weight: bold;
}

.team-red .team-name {
  color: #f00;
  background: #a00;
}

.team-blue .team-name {
  color: #00f;
  background: #00a;
}

.team-active {
  border: 2px solid #fff;
}
